body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 104px;
  border-bottom: 1px solid #d4d4d4;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header__search {
  padding-left: 34px;
}

.header__input {
  border: none;
  padding-left: 38px;
  background: url(../img/search-icon.svg) center left no-repeat;
  font-size: 18px;
  font-weight: normal;
  line-height: 21px;
  color: #a5a5a5;
}

.header__nav {
  margin-right: 44px;
  margin-left: auto;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #363636;
}

.header__nav-item {
  margin-left: 18px;
  text-decoration: none;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #363636;
}

.header__reg {
  padding: 41px 34px;
  border-left: 1px solid #d4d4d4;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #5671f6;
  cursor: pointer;
}

.header__enter {
  cursor: pointer;
  background: #5671f6;
  padding: 41px 50px;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.logo {
  padding: 35px;
  border-right: 1px solid #d4d4d4;
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
  color: #5671f6;
}

.mobile-btn {
  display: none;
}

.m-search {
  border: none;
  background: transparent;
  margin-right: 30px;
}

.m-menu {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background: transparent;
  margin-right: 30px;
}

.m-menu__line {
  margin: 2px;
  height: 2px;
  background: #000;
  width: 16px;
}

.hero {
  border-bottom: 1px solid #d4d4d4;
}

.hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0;
}

.hero__poster {
  margin-right: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__img {
  border-radius: 5px 5px 0px 0px;
  width: 358px;
}

.hero__video {
  width: 358px;
  height: 75px;
  border: 1px solid #d4d4d4;
  border-radius: 0px 0px 5px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.hero__video-play {
  margin-right: 14px;
}

.hero__video-text {
  font-size: 16px;
  line-height: 19px;
  color: #5671f6;
}

.hero__info {
  max-width: 516px;
}

.hero__title {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #363636;
  margin: 0 0 16px 0;
}

.hero__subtitle {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #a5a5a5;
  margin-bottom: 32px;
}

.hero__description {
  font-size: 14px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 50px;
}

.hero__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

.hero__caption-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-bottom: 16px;
}

.hero__caption-prof {
  display: inline-block;
  width: 100px;
  margin-right: 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #363636;
}

.hero__caption-name {
  font-size: 16px;
  line-height: 19px;
  color: #363636;
}

.hero__raiting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__rate {
  width: 100px;
  height: 100px;
  border: 1px solid #5671f6;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #5671f6;
  margin-right: 28px;
}

.hero__rate-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hero__rate-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #363636;
}

.hero__rate-mid {
  font-size: 16px;
  line-height: 19px;
  color: #363636;
}

.hero__rate-num {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #363636;
}

.actors {
  padding: 70px 0 100px 0;
}

.actors__tabs {
  margin-bottom: 60px;
}

.actors__tab {
  font-size: 24px;
  line-height: 28px;
  color: #a5a5a5;
  margin-right: 30px;
  cursor: pointer;
}

.actors__tab--active {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #363636;
}

.actors__person {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.actors__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}

.actors__img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.actors__name {
  margin-left: 20px;
}

.actors__name-ru {
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #5671f6;
}

.actors__name-en {
  font-size: 16px;
  line-height: 19px;
  color: #a5a5a5;
}

.news {
  background: #f3f3f3;
  padding: 70px 0 100px 0;
}

.news__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 65px;
}

.news__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news__item {
  max-width: 260px;
  padding: 30px;
  background: #ffffff;
  border-radius: 5px;
  margin-bottom: 30px;
}

.news__data {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 14px;
}

.news__text {
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

@media (max-width: 1200px) {
  .header {
    height: 65px;
  }
  .header__reg {
    padding: 22px;
  }
  .header__enter {
    padding: 22px;
  }
  .header__nav {
    margin-right: 20px;
  }
  .header__search {
    padding-left: 10px;
  }
  .logo {
    padding: 15px;
  }
}

@media (max-width: 991px) {
  .hero__caption-name {
    display: block;
  }
  .hero__title {
    font-size: 25px;
    line-height: 1.2;
  }
  .hero__subtitle {
    margin-bottom: 15px;
  }
  .hero__description {
    margin-bottom: 20px;
  }
  .hero__caption {
    margin-bottom: 20px;
  }
  .actors__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .header__nav {
    display: none;
  }
}

@media (max-width: 768px) {
  .hero__wrapper {
    padding-top: 30px;
    padding-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__poster {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .actors {
    padding-bottom: 20px;
  }
}

@media (max-width: 614px) {
  .hero__poster {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 95%;
            flex: 0 1 95%;
  }
  .hero__img,
  .hero__video {
    width: 100%;
  }
  .logo {
    border: none;
  }
  .mobile-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container {
    max-width: 95%;
  }
  .header__reg {
    display: none;
  }
  .header__enter {
    display: none;
  }
  .header__search {
    display: none;
  }
  .actors__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
