body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  outline: none;
  // margin: 0;
  // padding: 0;
}
.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  display: flex;
  align-items: center;
  height: 104px;
  border-bottom: 1px solid #d4d4d4;
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }

  &__search {
    padding-left: 34px;
  }

  &__input {
    border: none;
    padding-left: 38px;
    background: url(../img/search-icon.svg) center left no-repeat;
    font-size: 18px;
    font-weight: normal;
    line-height: 21px;
    color: #a5a5a5;
  }

  &__nav {
    margin-right: 44px;
    margin-left: auto;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #363636;
  }
  &__nav-item {
    margin-left: 18px;

    text-decoration: none;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #363636;
  }

  &__reg {
    padding: 41px 34px;
    border-left: 1px solid #d4d4d4;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #5671f6;
    cursor: pointer;
  }

  &__enter {
    cursor: pointer;
    background: #5671f6;
    padding: 41px 50px;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
  }
}

.logo {
  padding: 35px;
  // height: 100%;
  border-right: 1px solid #d4d4d4;
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
  color: #5671f6;
}
.mobile-btn {
  display: none;
}
.m-search {
  border: none;
  background: transparent;
  margin-right: 30px;
}
.m-menu {
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
  margin-right: 30px;
  // margin: 0;
  // padding: 0;
  &__line {
    // display: block;
    margin: 2px;
    height: 2px;
    background: #000;
    width: 16px;
  }
}

.hero {
  border-bottom: 1px solid #d4d4d4;
  &__wrapper {
    display: flex;
    padding: 80px 0;
  }

  &__poster {
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    // line-height: 0;
  }

  &__img {
    border-radius: 5px 5px 0px 0px;
    width: 358px;
  }

  &__video {
    width: 358px;
    height: 75px;
    background-color: transparent;
    border: 1px solid #d4d4d4;
    border-radius: 0px 0px 5px 5px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    cursor: pointer;
    &-play {
      margin-right: 14px;
      vertical-align: middle;
    }

    &-text {
      vertical-align: middle;
      font-size: 16px;
      line-height: 19px;
      color: #5671f6;
    }
  }

  &__info {
    max-width: 516px;
  }

  &__title {
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: #363636;
    margin: 0 0 16px 0;
  }

  &__subtitle {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #a5a5a5;
    margin-bottom: 32px;
  }

  &__description {
    font-size: 14px;
    line-height: 150%;
    color: #000000;
    margin-bottom: 50px;
  }

  &__caption {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  &__caption-item {
    flex: 0 1 50%;
    margin-bottom: 16px;
  }

  &__caption-prof {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #363636;
  }

  &__caption-name {
    font-size: 16px;
    line-height: 19px;
    color: #363636;
  }

  &__raiting {
    display: flex;
  }

  &__rate {
    width: 100px;
    height: 100px;
    border: 1px solid #5671f6;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #5671f6;
    margin-right: 28px;
  }

  &__rate-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__rate-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #363636;
  }

  &__rate-mid {
    font-size: 16px;
    line-height: 19px;
    color: #363636;
  }

  &__rate-num {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #363636;
  }
}
.actors {
  padding: 70px 0 100px 0;
  &__tabs {
    margin-bottom: 60px;
  }

  &__tab {
    font-size: 24px;
    line-height: 28px;
    color: #a5a5a5;
    margin-right: 30px;
    cursor: pointer;
  }

  &__tab--active {
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #363636;
  }

  &__person {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    flex: 0 1 25%;
    display: flex;
    align-items: center;
    margin-bottom: 35px;
  }

  // &__image {
  // }

  &__img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
  }

  &__name {
    margin-left: 20px;
  }

  &__name-ru {
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #5671f6;
  }

  &__name-en {
    font-size: 16px;
    line-height: 19px;
    color: #a5a5a5;
  }
}

.news {
  background: #f3f3f3;
  padding: 70px 0 100px 0;
  &__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 65px;
  }

  &__slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    max-width: 260px;
    padding: 30px;
    background: #ffffff;
    border-radius: 5px;
    margin-bottom: 30px;
    // &:not(:last-child) {
    //   margin-right: 30px;
    // }
  }

  &__data {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 14px;
  }

  &__text {
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
  }
}

@media (max-width: 1200px) {
  .header {
    height: 65px;
    &__reg {
      padding: 22px;
    }
    &__enter {
      padding: 22px;
    }
    &__nav {
      margin-right: 20px;
    }
    &__search {
      padding-left: 10px;
    }
  }
  .logo {
    padding: 15px;
  }
}
@media (max-width: 991px) {
  .hero__caption-name {
    display: block;
  }
  .hero__title {
    font-size: 25px;
    line-height: 1.2;
  }
  .hero__subtitle {
    margin-bottom: 15px;
  }
  .hero__description {
    margin-bottom: 20px;
  }
  .hero__caption {
    margin-bottom: 20px;
  }
  .actors__item {
    flex: 0 1 50%;
  }
  .header__nav {
    display: none;
  }
}
@media (max-width: 768px) {
  .hero__wrapper {
    padding-top: 30px;
    padding-bottom: 20px;
    flex-direction: column;
    align-items: center;
  }
  .hero__poster {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .actors {
    padding-bottom: 20px;
  }
}
@media (max-width: 614px) {
  .hero__poster {
    flex: 0 1 95%;
  }
  .hero__img,
  .hero__video {
    width: 100%;
  }
  .logo {
    border: none;
  }
  .mobile-btn {
    display: flex;
  }
  .container {
    max-width: 95%;
  }
  .header__reg {
    display: none;
  }
  .header__enter {
    display: none;
  }
  .header__search {
    display: none;
  }
  .actors__item {
    flex: 0 1 100%;
  }
}
